<%- include("./partials/header.ejs") %>

<main class="container d-flex justify-content-center align-items-center" style="height: 700px;">

    <% if(locals.qr_data) { %>
        <div class="d-flex justify-content-center align-items-center flex-column mt-5">
            <img src="<%= qr_data %>" />
            <p> <%= qrlink %> </p>
            <a href="<%= qr_data %>" class="btn btn-info text-white" download>Download</a>
            <br />
            <a href="/" class="btn btn-info text-white">Generate Another</a>
        </div>
    <% } else { %>
        <p>something is broken</p>
    <% } %>

</main>

<%- include("./partials/footer.ejs") %>